# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv'

flights = pd.read_csv(url)

In [2]:
#1. When do the first and last flights leave each day?

flights['month-day'] = flights['month'].astype(str)+flights['day'].astype(str)

dmin = flights.groupby(['month-day'])['dep_time'].transform(min) == flights['dep_time']
flights[dmin][['month-day','dep_time','flight']]

       month-day  dep_time  flight
0             11     517.0    1545
842           12      42.0     707
1785          13      32.0     707
2699          14      25.0     707
3614          15      14.0     739
...          ...       ...     ...
332195       926     451.0    1877
333191       927     453.0    1877
334187       928     451.0    1877
334869       929     521.0     322
335783       930     453.0    1877

[355 rows x 3 columns]

In [3]:
dmax = flights.groupby(['month-day'])['dep_time'].transform(max) == flights['dep_time']
flights[dmax][['month-day','dep_time','flight']]

       month-day  dep_time  flight
837           11    2356.0     727
1776          12    2354.0     727
2688          13    2349.0     739
3606          14    2358.0     727
3607          14    2358.0     739
...          ...       ...     ...
333187       926    2349.0     745
334182       927    2346.0     745
334865       928    2351.0     745
335779       929    2356.0     745
336769       930    2349.0     745

[380 rows x 3 columns]

In [ ]:
#2.When there is a missing value in dep_time then this is an indication of canceled flight.
#Find the number of cancelled flights for each (carrier, origin) combination.
flights[flights.dep_time.isna()][['carrier','origin']].groupby(['carrier','origin']).agg({'carrier':'count'})